html {
  background-color: black;
}
body {
  color:white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
}
#party {
  display: flex;
  width: 300px;
}
.slot-number {
  margin-top:-30px;
  margin-bottom:30px;
}
.species-number {
  font-size:.8em;
}
.sprite {
  width:120px;
  height:120px;
  margin-bottom:-90px;
  margin-left:80px;
}
.species {
  display:block;
}
.pokemon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.pokemon-top-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 12px;
  margin-left:5px;
  width: 300px;
  height: 205px;
}
.pokemon-top-left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size:.9em;
  width: 140px;
  height: 205px;
}
.pokemon-top-right-block {
  flex: 1;
}
.major-stats, .mstat, .ability, .nature, .held-item {
  margin-top: 2.5px;
}
.level-status {
  display:flex;
}
.level {
  margin-top:5px;
  margin-bottom:5px;
  margin-right:5px;
}
.levelvalue .seenat {
  position: absolute;
  border-bottom: 1px dotted black;
  visibility: hidden;
  max-width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}
.levelvalue:hover .seenat {
  visibility: visible;
}
.evolves {
  color:darkgoldenrod;
}
.evoarrow {
  margin:0;
  display:inline;
  font-weight: bolder;
  color:darkgoldenrod;
}
.evo {
  position: absolute;
  border-bottom: 1px dotted black;
  visibility: hidden;
  max-width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}
.evohtml:hover .evo {
  visibility: visible;
}
.ability .description {
  position: absolute;
  border-bottom: 1px dotted black;
  visibility: hidden;
  max-width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}
.ability .name:hover .description {
  visibility: visible;
}
.held-item {
  margin-top:7.5px;
  display:block;
}
.held-item-name:before {
  content:"@" 
}
.stats {
  display: flex;
  flex-wrap: wrap;
  margin-left:26px;
  margin-top:2px;
  width: 150px;
}
.stat {
  display: grid;
  grid-template-columns: 75px 35px 35px 0;
  grid-gap: 2px;
  margin-right: 1px;
  margin-left: 20px;
  flex-basis: 100%;
  margin-top:6px;
}
.stat .name {
  grid-column: 1 / span 2 / span 3 / span 4;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.stat .value {
  justify-self: end;
}
.stat .value .ev {
  position: absolute;
  border-bottom: 1px dotted black;
  visibility: hidden;
  max-width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}
.stat .value:hover .ev {
  visibility: visible;
}
.pokemon-bottom-block {
  margin-top: 10px;
}
.stats .raised {
  color:lightcoral;
}
.stats .lowered {
  color:lightskyblue;
}
.stats .friendship {
  display:none;
}
.nature {
  display:none;
}
/* .ability:before {
  content:"Ability: " 
}
*/
.moves {
  margin-top:-44px;
  margin-left: 8px;
  margin-bottom: -18px;
}
.move {
  display: grid;
  grid-template-columns: 23px 116px 88px 33.5px 35px 25px;
  grid-gap: 3.5px;
  margin-right: 55px;
  margin-top: 2px;
  font-size:.95em;
}
.move .name {
  grid-column: 1 / div 2 / div 3 / div 4 / div 5 / div 6;
  white-space: nowrap;
  margin-left:-3px;
  text-overflow: ellipsis;
 /*overflow:hidden;
  */
}
.move .power, .move .maxpp, .move .contact, .move .accuracy {
  justify-self: end;
}
.move .description {
  position: absolute;
  border-bottom: 1px dotted black;
  visibility: hidden;
  max-width: 265px;
  background-color: black;
  color: #fff;
  white-space: pre-wrap;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}
.move .name:hover .description {
  visibility: visible;
}
.coverage {
  position: absolute;
  display:grid;
  grid-template-columns: 45px 45px 45px 45px;
  border-bottom: 1px dotted black;
  visibility: hidden;
  max-width: 60px;
  opacity: 100;
  background-color: black;
  color: #fff;
  white-space: pre-wrap;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}
.label:hover .coverage {
  backdrop-filter: saturate(25);
  text-shadow:-2px 2px 3px #000, 2px 2px 3px #000, 2px -2px 0 #000, -2px -2px 0 #000;
  visibility: visible;
  backdrop-filter:contrast(10%);
}
.learnset {
  position: absolute;
  display:inline;
  border-bottom: 1px dotted black;
  visibility: hidden;
  max-width: 120px;
  opacity: 100;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}
.move.category.label:hover .learnset, .move.name.label:hover .learnset {
  backdrop-filter: saturate(25);
  text-shadow:-2px 2px 3px #000, 2px 2px 3px #000, 2px -2px 0 #000, -2px -2px 0 #000;
  visibility: visible;
  backdrop-filter:contrast(10%);
}
.move .power, .move .label, .move .maxpp, .move .category, .move .accuracy, .move .contact {
  border-bottom-style:hidden;
  flex-basis: 100%;
  text-align:right;
  display: flex;
  align-items: right;
  white-space: nowrap;
}
/* Move Colors */
.Normal {
  color:rgb(153,153,153);
}
.Fire {
  color: rgb(255, 97, 44);
}
.Water {
  color:rgb(40, 146, 255);
}
.Grass {
  color:rgb(66,191,36);
}
.Electric {
  color:rgb(255,219,0);
}
.Ice {
  color:rgb(66,191,255);
}
.Fighting {
  color:rgb(255,162,2);
}
.Poison {
  color:rgb(153,77,207);
}
.Ground {
  color:rgb(171,121,57);
}
.Flying {
  color: rgb(149,201,255) ;
}
.Psychic {
  color:rgb(255,99,127);
}
.Bug {
  color:rgb(159,165,35);
}
.Rock {
  color:rgb(188,184,137) 
}
.Ghost {
  color:rgb(110, 69, 112);
}
.Dragon {
  color: rgb(126,68,237);
}
.Dark {
  color:rgb(47,79,79) 
}
.Steel {
  color:rgb(112,128,144);
}
.Fairy {
  color:rgb(255,177,255);
}
.move .stab {
  filter:saturate(40);
  font-weight: bold;
}
.hidden {
  display: none;
}
.active {
  display: flex;
}
.arrow {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  color: white;
  z-index: 2;
  transition: color 0.3s;
}
.previous-arrow {
  left: 10px;
}
.next-arrow {
  right: 10px;
}
.previous-arrow:hover, .next-arrow:hover {
  color: lightgray;
}
